[Desktop Entry]
Encoding=UTF-8
Name=Ox
Comment=Ox P2P Cryptocurrency
Comment[fr]=Ox, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ox, eşten eşe kriptografik sanal para birimi
Exec=ox-qt %u
Terminal=false
Type=Application
Icon=ox128
MimeType=x-scheme-handler/ox;
Categories=Office;Finance;
