[Desktop Entry]
Encoding=UTF-8
Name=Kliq
Comment=Kliq P2P Cryptocurrency
Comment[fr]=Kliq, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Kliq, eşten eşe kriptografik sanal para birimi
Exec=kliq-qt %u
Terminal=false
Type=Application
Icon=kliq128
MimeType=x-scheme-handler/kliq;
Categories=Office;Finance;
