[Desktop Entry]
Encoding=UTF-8
Name=Kriss
Comment=Kriss P2P Cryptocurrency
Comment[fr]=Kriss, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Kriss, eşten eşe kriptografik sanal para birimi
Exec=kriss-qt %u
Terminal=false
Type=Application
Icon=kriss128
MimeType=x-scheme-handler/kriss;
Categories=Office;Finance;
