[Unit]
Description=Ox's distributed currency daemon
After=network.target

[Service]
User=oxcore
Group=oxcore

Type=forking
PIDFile=/var/lib/oxd/oxd.pid
ExecStart=/usr/bin/oxd -daemon -pid=/var/lib/oxd/oxd.pid \
-conf=/etc/oxcore/ox.conf -datadir=/var/lib/oxd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
