[Unit]
Description=Dash's distributed currency daemon
After=network.target

[Service]
User=jastcore
Group=jastcore

Type=forking
PIDFile=/var/lib/jastd/jastd.pid
ExecStart=/usr/bin/jastd -daemon -pid=/var/lib/jastd/jastd.pid \
-conf=/etc/jastcore/jast.conf -datadir=/var/lib/jastd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
